* {
    width: 100%;
}

#halaman {
    width: 100%;
    margin: 0 auto;
}

.hed {
    width: 100%;
    padding: 2%;
    background-color: #a38068;
    color: aliceblue;
}
.hed_kiri {
    width: 70%;
    float: left;
}
.hed_kiri h5 {
    font-size: 20pt;
}
.hed_kiri h5 p {
    font-size: 9pt;
    font-weight: normal;
}
.hed_kanan {
    width: 30%;
    float: right;
    text-align: right;
    font-size: 10pt;
}
.clear {
    clear: both;
}
.baru {
    margin-top: 13px;
}
.hed_kanan a {
    text-decoration: none;
    color: rgb(54, 54, 62);
}
.hed_kanan a:hover {
    color: aliceblue;
    transition: 0.6s;
}
.isi {
    width: 100%;
    min-height: 84vh;
    background-color: #f3f3f3;
    padding: 2%;
    margin-top: -10px;
}
.dalam_kiri_kotak {
    width: 50%;
    float: left;
    text-align: center;
}
.dalam_kanan_kotak {
    width: 50%;
    float: right;
    text-align: center;
}
.lantai {
    width: 100%;
}
.kotak_lantai {
    width: 100%;
    margin-top: 5px;
}
.kotak {
    width: 30%;
    float: left;
    background-color: black;
    margin: 1%;
    padding: 3%;
    cursor: pointer;
    border-radius: 10px;
    color: white;
    border: none;
}
.kotak:hover {
    background-color: white;
}
.nama_tamu {
    font-size: 9pt;
    text-align: left;
    margin-top: -10px;
    font-weight: bold;
    text-align: center;
    color: black;
}
.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: #fff;
}
.preloader .loading {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font: 14px arial;
}
.bookTrsbtn,
.closeBook {
    text-decoration: none;
}
.kotak h1 {
    font-size: 34pt;
}
.kedip_jam {
    animation: blink-animation 1s steps(5, start) infinite;
    -webkit-animation: blink-animation 1s steps(5, start) infinite;
}
@keyframes blink-animation {
    to {
        visibility: hidden;
    }
}
@-webkit-keyframes blink-animation {
    to {
        visibility: hidden;
    }
}
